# Cleaning the data

## First view of the data
Imports \\
Inspecting the data

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
data = pd.read_csv("preprocessed_data.csv")

In [6]:
data.head()

  Winner  title_bout  ...  R_Stance_Southpaw  R_Stance_Switch
0    Red        True  ...                  0                0
1    Red        True  ...                  1                0
2    Red       False  ...                  0                0
3   Blue       False  ...                  0                0
4   Blue       False  ...                  1                0

[5 rows x 160 columns]

In [7]:
data.shape

(3592, 160)

## Cleaning columns
Finding non regular rows

Finding categorical rows because we need to make them into integers \\
In this case there are two rows: Winner and title_bout

In [8]:
data.select_dtypes(exclude=["number"])

     Winner  title_bout
0       Red        True
1       Red        True
2       Red       False
3      Blue       False
4      Blue       False
...     ...         ...
3587    Red       False
3588    Red       False
3589    Red        True
3590    Red       False
3591    Red       False

[3592 rows x 2 columns]

In [0]:
categorical_columns = ["Winner", "title_bout"]

In [0]:
for col in categorical_columns:
    data[col] = data[col].astype('category')

In [0]:
data = pd.get_dummies(data, drop_first=True)

Once more inspecting the data

In [12]:
data.head()

   no_of_rounds  B_current_lose_streak  ...  Winner_Red  title_bout_True
0             5                    0.0  ...           1                1
1             5                    0.0  ...           1                1
2             3                    0.0  ...           1                0
3             3                    0.0  ...           0                0
4             3                    0.0  ...           0                0

[5 rows x 160 columns]

## Finding NaN or all zeros columns
There are two columns that have all zeros, B_draw and R_draw. We know that in UFC we can't have draw so we can just drop this two columns

In [13]:
for col in data.columns:
    if(data[col].sum() == 0):
        print(col)

B_draw
R_draw

In [0]:
data = data.drop(["R_draw", "B_draw"], axis=1)

# Saving the table
We save cleaned .csv file for later use in ML python book

In [0]:
data.to_csv("data_for_ml.csv")